/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.08.2017, 21:35:13
    Author     : kostik
*/

/* modal */
.b-modal {
	padding-bottom: 41px;
	position: relative;

	__small {
		width: 600px;
		overflow: hidden;
                padding-bottom: 0px !important;
		.b-modal__body {
			overflow: hidden;
		}

		.test-carousel.video-carousel {
			padding-left: 35px;
		}
	}

	__header {
		height: 10px;
		background-color: blue;
		width: 100%;
		position: relative;
	}

	__body {
		background-color: #dddddd;
		padding: 15px 40px;
                overflow-y: auto;

		__row {
			padding: 0;
		}
	}

	width: 1000px;
	background-color: #fff;
	margin-top: 50px;
}
