
<div>
    <div class="b-modal b-modal__small">
        <div class="b-modal__header">
        </div>
        <div class="b-modal__body">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Login</h2>
                </div>
                <div class="col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2 b-form__login text-center">
                    <input ng-model="logForm.login" class="form-control b-form__input" placeholder="Login" type="text" />
                    <input ng-model="logForm.password" class="form-control b-form__input" placeholder="Password" type="password" />
                    <a ng-click="login()" class="btn btn-primary btn-lg b-form__submit">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>