<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <button ng-click="test()">test</button>
        <button ng-click="test2('3')">get test2</button>
        <button ng-click="test3()">post test3</button>
    </body>
</html>
